@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background-image: url('images/Home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 5vh;
    margin-left: 3vw;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo img {
    width: 4.8rem;
    height: 4.8rem;
}

.line {
    margin-left: 5vw;
    opacity: 0.5;
    border-bottom: 1px solid white;
    width: 35vw;
}

.header-right {
    background: inherit;
    backdrop-filter: blur(4rem);
    width: 100%;
}

.row {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw ;
    padding: 4vh 10vw 4vh 0;
    text-align: center;
}

.col a {
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    letter-spacing: 0.27vw;
    font-weight: 400;
    padding: 4vh 0;
}

.col span {
    font-weight: 700;
    padding: 4vh 0.8vw 4vh 0;
}

main {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2.4rem;
    width: 44.5rem;
    height: 38.2rem;
    margin: 18% 0 0 10%;    
}

.p1 {
    font-size: 2.8em;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.p2 {
    font-size: 15em;
    font-family: 'bellefair', sans-serif;
    text-transform: uppercase;
}

.p3 {
    font-size: 1.8em;
    font-family: 'Barlow', sans-serif;
    line-height: 32px;
}


main .right {
    border-radius: 50%;
    background-color: white;
    width: 27rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-left: 30%;
}

main .right .p4 {
    color: black;
    font-size: 3.2em;
    letter-spacing: 0.3em;
    font-family: 'bellefair', sans-serif;
}

nav a:focus {
    border-bottom: 2px solid white;
} 

@media (max-width: 1240px) {
    .col a {
        font-size: 1.2em;
    }
}

@media (max-width: 940px) {
    .col a {
        font-size: 1em;
    }
}