@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: url('images/Home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

body .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 5vh;
    margin-left: 3vw;
    overflow: hidden;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo img {
    width: 4.8rem;
    height: 4.8rem;
}

.line {
    margin-left: 5vw;
    opacity: 0.5;
    border-bottom: 1px solid white;
    width: 35vw;
}

.header-right {
    background: inherit;
    backdrop-filter: blur(4rem);
    
}

.row {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 4vh 4vh 4vh 0;
    text-align: center;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.col a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    letter-spacing: 0.27vw;
    font-weight: 400;
    padding-bottom: 3.6vh;
    text-transform: uppercase;
    justify-self: start;
    justify-content: start;
    justify-items: start;
}

.col span {
    font-weight: 700;
    padding: 4vh 0.8vw 4vh 0;
}

/* Main */

.home-wrapper, .destination-wrapper {
    position: absolute;
}

/* home */

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 80vh ;
    overflow: hidden;
    z-index: 1;
}

.home .left {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-left: 15rem;
}

.p1 {
    font-size: 2.8em;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.p2 {
    font-size: 15em;
    font-family: 'bellefair', sans-serif;
    text-transform: uppercase;
}

.p3 {
    font-size: 1.8em;
    font-family: 'Barlow', sans-serif;
    line-height: 32px;
}

.home .right {
    border-radius: 50%;
    background-color: white;
    width: 19.03vw;
    height: 19.03vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .right .p4 {
    color: black;
    font-size: 3.2em;
    letter-spacing: 0.3em;
    font-family: 'bellefair', sans-serif;
    z-index: 1;
}

nav a:focus {
    border-bottom: 2px solid white;
} 

/* destination */

.destination-wrapper {
    align-self: center;
    margin-inline: auto;
}

.destination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 80vh ;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    opacity: 0;
    z-index: 0;
}

.destination .left p {
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 2.2rem;
    font-weight: 400;
}

.destination .left span {
    margin-right: 2rem;
    font-weight: 100;
}

.destination .left img {
    margin: 2rem;
    padding: 3rem;
    height: 40rem;
    width: 40rem;
}

.destination .right {
    display: flex;
    flex-direction: column;
}

.destination .right .navRight {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
}

.destination .right .navRight a {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.navRight a:focus {
    border-bottom: 1px solid white;
}

.destination .right h1 {
    font-size: 10rem;
    font-family: 'bellefair', sans-serif;
    font-weight: 100;
    padding: 2rem 0;
}

.description {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 25px;
    padding-bottom: 4rem;
    margin-right: 10rem;
}

.right-bottom {
    padding-top: 3rem;
    display: flex;
    gap: 5rem;
    font-weight: 100;
}

.right-bottom-1 p:last-child,
.right-bottom-2 p:last-child {
  font-size: 2rem;
  font-family: 'bellefair', sans-serif;
  padding-top: 1rem;
}

  
  