@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background-image: url('images/Home/background-home-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 5vh;
    margin-left: 3vw;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.line {
    display: none;
}

.row {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem ;
    padding: 4vh 10vw 4vh 0;
    text-align: center;
}

.col a {
    font-size: 1.8em;
    text-decoration: none;
    color: white;
    letter-spacing: 0.27vw;
    font-weight: 400;
    padding: 4vh 0;
}

.col span {
    display: none;
}

/* header {
    margin-top: 2.5rem;
    margin-left: 4rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
}

header .logo img {
    width: 5rem;
    height: 5rem;
}

.line {
    display: none;
}

nav .row {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem; 
}

nav .col {
    display: flex;
    justify-content: center;
}

nav .col a {
    padding: 2rem 0;
    color: white;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    font-weight: 100;
}

nav .col span {
    display: none;
}
*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
} 

main .left .p1 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
}

main .left .p2 {
    font-size: 15em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'bellefair', sans-serif;
    margin-top: 2rem;
}

main .left .p3 {
    font-size: 1.8em;
    width: 50rem;
    letter-spacing: 0.1em;
    line-height: 2em;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 2rem;
}

main .right {
    border-radius: 50%;
    background-color: white;
    width: 24.4rem;
    height: 24.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

main .right .p4 {
    color: black;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    font-family: 'bellefair', sans-serif;
}

nav a:focus {
    border-bottom: 2px solid white;
}